{% extends 'base.html.twig' %}
{% block title %}Einkaufliste App - M151
{% endblock %}
{% block body %}
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Einkaufliste</h1>
			</div>
		</div>
	</section>
{% endblock %}
