{% extends 'base.html.twig' %}
{% block title %}Einkaufliste App - M151
{% endblock %}
{% block body %}
	<section class="section container">
		<h1 class="title has-text-centered">Einkaufliste</h1>

		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th>
						<abbr>#</abbr>
					</th>
					<th>
						<abbr>Anzahl</abbr>
					</th>
					<th>
						<abbr>Name</abbr>
					</th>
					<th>
						<abbr></abbr>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>
							{{item.id}}
						</td>
						<td>
							{{item.amount}}
						</td>
						<td>
							{{item.name}}
						</td>
						<td>
							<div class="columns">
								<div class="column">
									<a class="button is-primary">
										<i class="fas fa-edit"></i>
										Editieren
									</a>
								</div>
								<div class="column">
									<a class="button is-danger">
										<i class="fas fa-trash"></i>
										Löschen
									</a>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<form class="form" action="/items/add" method="POST">
			<div class="field">
				<label class="label">Anzahl</label>
				<div class="control">
					<input class="input" type="number" name="amount" placeholder="Anzahl eingeben" required>
				</div>
			</div>

			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input class="input" type="text" name="name" placeholder="Name eingeben" required>
				</div>
			</div>

			<div class="field is-grouped">
				<div class="control">
				{# TODO: Disabled entferenen, falls hinzufügen funktioniert #}
					<button class="button is-primary" disabled>
						<i class="fas fa-plus"></i>
						Hinzufügen
					</button>
				</div>
			</div>
		</form>
	</section>
{% endblock %}
